<%= form_for @movie, html: { multipart: true } do |f| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
<div class="col-md-3">
<div class="form-group">
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control"%>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control"%>
  </div>

  <div class="field">
    <%= f.label :gender %>
    <%= f.text_field :gender, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :movie_length %>
    <%= f.text_field :movie_length, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :director %>
    <%= f.text_field :director, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :Music %>
    <%= f.text_field :Music, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :Screen_play %>
    <%= f.text_field :Screen_play, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :Story %>
    <%= f.text_field :Story, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :rating %>
    <%= f.text_field :rating, class: "form-control" %>
  </div>

    <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image, class: "btn btn-info btn-xs" %>
  </div>

  <div class="action" style="padding-top:5px;">
    <%= f.submit class: "btn btn-danger"%>
  </div>
</div>
</div>
</div>
<% end %>
